*{
    margin:0px;
    padding:0px;
    background:#2260A6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: white;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:larger;
    font-weight:bolder;
    padding:20px;
    margin:10px;
}
.header{
    
}
