*{
    margin:0px;
    padding:0px;
    background:#2260A6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: white;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight:bolder;
    padding:20px;
    margin:10px;
}
.header{
    width:80%;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    color:white;
}
.fp{
    color:black;
    background: #ffffff;
    border:2 px solid white;
    border-radius:10px;
    box-shadow: 0px 10px 20px 0px snow;
    padding:100px;
    margin:20px;

}
.btn{
    width:200 px;
    margin : 0 auto;
    display: flex;
    justify-content: center;
    padding:10px 50px 10px 50px;
    background: orange;
    border:1px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    color:white;
}
.header-images{
    display: block;
    margin:20px auto;
    width:100%;
    height:500px;
    border:3px solid rgb(0, 132, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 0px 0px rgb(0, 132, 255);
}